.grid-container {
  display: grid;
  /*fr is for fraction, try to change some value
  to see how grid items are affected, in
  this case we have three fractions with value=1
  this means: the whole row contains three fractions,
  each fraction takes 1/3 of the row height*/
  grid-template-rows: 1fr 1fr 1fr;
  /*alternatively you can use repeat*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5em;
}

/*immediate elements nested one level
in grid-container are grid items*/
.grid-container > div {
  background: gold;
  padding: .5em;
  text-align: center;
}