body {
	display: grid;
	grid-template-areas:
		"nav header header"
		"nav main ads"
		"nav footer footer";
	grid-template-rows: 60px 1fr 60px;
	grid-auto-columns: 300px 2fr 1fr;
	grid-gap: 10px;
	height: 100vh;
	margin: 0;
}

header, footer, main, nav, div {
	padding: 20px;
	background: gold;
}

.header {
	grid-area: header;
	grid-column-start: 2;
	top: 0;
}

.footer {
	grid-area: footer;
	grid-column-start: 2;
	bottom: 0;
}

.nav {
	grid-area: nav;
}

.main {
	grid-area: main;
	overflow-y: scroll;
}

.ads {
	grid-area: ads;
}
