body {
	display: grid;
	grid-template-areas:
		"nav header header"
		"nav main ads"
		"nav footer footer";
	grid-template-rows: 60px 1fr 60px;
	grid-template-columns: 290px [col-main] 2fr 1fr;
	grid-row-gap: 1px;
	grid-column-gap: 1px;
	height: 100vh;
	margin: 0;
}

header, footer, main, nav, div {
	padding: 20px;
	background: gold;
}

.header {
	grid-area: header;
	grid-column-start: col-main;
}

.footer {
	grid-area: footer;
	grid-column-start: col-main;
}

.nav {
	grid-area: nav;
}

.main {
	grid-area: main;
	overflow-y: scroll;
}

.ads {
	grid-area: ads;
}
